<div class="footer-section">
	<div class="footer-top">
		<p>Copyright © 2016.{{ site.title }} 联系电话:{{ site.phone }}. 
			<a href="/sitemap.xml">站点地图</a></p>
	</div>
</div>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>