<head>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/mstyle.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="baidu-site-verification" content="K0JVDDuaSi" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/assets/css/camera.css" rel="stylesheet" type="text/css" media="all" />
    <script type='text/javascript' src='/assets/js/jquery.min.js'></script>
    <script type='text/javascript' src='/assets/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='/assets/js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='/assets/js/camera.min.js'></script> 
    {% if page.title%}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}
</head>